.hero_section {
    position: relative;
    padding-top: 8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.hero_left {
    display: flex;
    align-items: end;
    justify-content: start;
}

.hero_left h3 {
    font-family: var(--font_medium);
    font-size: 1.5em;
    color: var(--clr_black);
    text-align: left;
    line-height: 1;
}

.hero_right {
    display: flex;
    align-items: end;
    justify-content: end;
}

.hero_right h1 {
    font-family: var(--font_medium);
    font-size: 9em;
    color: var(--clr_black);
    text-align: right;
    line-height: 0.8;
}

.below_main_container {
    border-block: var(--container_border);

    & video {
        border-radius: var(--primary_border_radius);
    }
}

.intro_container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 3em;
}

.intro_left h1 {
    font-family: var(--font_medium);
    font-size: 3.5em;
    color: var(--clr_black);
    line-height: 1;
}

.intro_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.intro_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: var(--primary_border_radius);
    aspect-ratio: 16 / 9;
}

.intro_right p {
    font-family: var(--font_regular);
    font-size: 0.95em;
    color: var(--clr_black);
}

.project_wrapper {
    position: relative;
    padding-block: var(--main_padding_block);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    padding: 1em;
    border-bottom: var(--container_border);

    &::after {
        position: absolute;
        content: "";
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: var(--clr_white) !important;
        font-size: var(--fs_project_h1);
        font-family: var(--font_medium);
        color: var(--clr_white);
        pointer-events: none;
        mix-blend-mode: difference;
        height: 0;

        transition-property: height;
        transition-duration: var(--hover_transition_time);
    }
}

@media (width > 1000px) {
    .projects:hover::after,
    .projects:focus-visible::after {
        height: 100%;
    }
}

.projects h1 {
    font-family: var(--font_medium);
    font-size: 2.8em;
    color: var(--clr_black);
}

.project_info h6 {
    font-family: var(--font_regular);
    font-size: 0.95em;
    font-weight: 400;
    color: var(--clr_black);
    text-align: right;
    text-transform: uppercase;
}

.project_info p {
    font-family: var(--font_regular);
    font-size: 0.95em;
    font-weight: 400;
    color: var(--clr_black);
    text-align: right;
}

.project_visual {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    width: 15em;
    overflow: hidden;
    aspect-ratio: 1 / 1.2;
    border-radius: var(--primary_border_radius);
    right: 20%;
    opacity: 0;
    scale: 0.9;

    transition-property: opacity, scale;
    transition-duration: var(--hover_transition_time);
}

.project_visual_open {
    opacity: 1;
    scale: 1;
}

.project_visual img,
.project_visual video {
    object-fit: cover;
}

.all_projects_button {
    width: fit-content;
    margin-inline: auto;
}

.design_wrapper {
    background-color: var(--clr_black) !important;
    border-radius: var(--primary_border_radius);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    margin-top: 8em;
}

.design_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 6em;
    gap: 2em;
}

.design_left p {
    font-family: var(--font_regular);
    font-size: 0.95em;
    color: var(--clr_white);
}

.design_button_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.design_button {
    cursor: pointer;
    background-color: transparent !important;
    border: none;
    font-family: var(--font_medium);
    font-size: 3.5em;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0.3em;
    color: #504a45;

    transition-property: color;
    transition-duration: var(--hover_transition_time);

    & div {
        height: 100%;
        width: 0.05em;
        background-color: #504a45;

        transition-property: background-color;
        transition-duration: var(--hover_transition_time);
    }
}

.design_button_active {
    color: var(--clr_white);
}
.design_button_line_active {
    background-color: var(--clr_primary_1) !important;
}

.design_right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.design_image {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-radius: var(--primary_border_radius);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transform: translate(5%, 0);

    transition-property: opacity, transform;
    transition-duration: var(--hover_transition_time);
}

.design_image_active {
    opacity: 1;
    transform: translate(0, 0);
}

.mySwiper {
    margin-top: 1em;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
    padding: 2em;
    background-color: var(--clr_white) !important;
    cursor: pointer;

    &:not(:first-child) {
        border-left: var(--container_border);
    }
}

.swiper-slide svg {
    height: 5em;
}

.swiper-slide p {
    font-family: var(--font_regular);
    font-size: 0.95em;
}

/* Media Queries */
@media (width < 1000px) {
    .hero_right h1 {
        font-size: 7em;
    }

    .hero_left h3 {
        font-size: 1.2em;
    }

    .intro_left h1 {
        font-size: 2.5em;
    }

    .project_visual {
        position: static;
        pointer-events: all;
        z-index: 2;
        border-radius: var(--primary_border_radius);
        opacity: 1;
        scale: 1;
        width: 100%;
    }

    .project_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .projects {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 0.5em;
        border: none;
        padding: 0;
        margin-bottom: 1em;
    }

    .projects h1 {
        font-size: 1.8em;
    }

    .projects h6 {
        text-align: left;
    }

    .design_left {
        padding: 3em;
    }

    .design_button {
        font-size: 2.5em;
    }
}

@media (width < 750px) {
    .hero_section,
    .intro_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, fit-content);
    }

    .hero_left {
        grid-row: 2 / 3;
    }

    .hero_right h1 {
        font-size: 6em;
    }

    .intro_left h1 {
        font-size: 2em;
    }

    .intro_right {
        width: 60%;
    }

    .projects h1 {
        font-size: 1.5em;
    }

    .all_projects_button {
        width: 100%;
    }

    .design_wrapper {
        grid-template-columns: 1fr;
    }

    .design_right {
        aspect-ratio: 16 / 9;
    }

    .design_image {
        transform: translate(0, 0);
    }
}

@media (width < 600px) {
    .project_wrapper {
        grid-template-columns: 1fr;
    }

    .project_visual {
        aspect-ratio: 16 / 9;
    }
}

@media (width < 500px) {
    .hero_section {
        padding-top: 5em;
    }

    .hero_right h1 {
        font-size: 3.6em;
    }

    .hero_left h3 {
        font-size: 1.1em;
    }

    .intro_left h1 {
        font-size: 1.5em;
    }

    .intro_container,
    .intro_right {
        gap: 1em;
    }

    .intro_right {
        width: 100%;
    }

    .design_left {
        padding: 2em;
    }

    .design_button {
        font-size: 2em;
    }
}
