.hero_section {
    padding-block: 8em var(--main_padding_block);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    border-bottom: var(--container_border);
}

.hero_left {
    display: flex;
    align-items: end;
    justify-content: start;
}

.hero_left h3 {
    font-family: var(--font_medium);
    font-size: 1.5em;
    color: var(--clr_black);
    text-align: left;
    line-height: 1;
}

.hero_right {
    display: flex;
    align-items: end;
    justify-content: end;
}

.hero_right h1 {
    font-family: var(--font_medium);
    font-size: 9em;
    color: var(--clr_black);
    text-align: right;
    line-height: 0.8;
}

.below_main_container {
    border-radius: var(--primary_border_radius);
}

.intro_container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 3em;
    border-top: var(--container_border);
}

.intro_left h1 {
    font-family: var(--font_medium);
    font-size: 3.5em;
    color: var(--clr_black);
    line-height: 1;
}

.intro_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.intro_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: var(--primary_border_radius);
    aspect-ratio: 16 / 9;
}

.intro_right p {
    font-family: var(--font_regular);
    font-size: 1em;
    color: var(--clr_black);
    line-height: 1;
}

/* Media Queries */
@media (width < 1000px) {
    .hero_right h1 {
        font-size: 7em;
    }

    .hero_left h3 {
        font-size: 1.2em;
    }

    .intro_left h1 {
        font-size: 2.5em;
    }
}

@media (width < 750px) {
    .hero_section,
    .intro_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, fit-content);
    }

    .hero_left {
        grid-row: 2 / 3;
    }

    .hero_right h1 {
        font-size: 6em;
    }

    .intro_left h1 {
        font-size: 2em;
    }

    .intro_right {
        width: 60%;
    }
}

@media (width < 500px) {
    .hero_right h1 {
        font-size: 3.6em;
    }

    .hero_left h3 {
        font-size: 1.1em;
    }

    .intro_left h1 {
        font-size: 1.5em;
    }

    .intro_container,
    .intro_right {
        gap: 1em;
    }

    .intro_right {
        width: 100%;
    }
}
