.hero_section {
    position: relative;
    padding-top: 8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.hero_left {
    display: flex;
    align-items: end;
    justify-content: start;
}

.hero_left h3 {
    font-family: var(--font_medium);
    font-size: 1.5em;
    color: var(--clr_black);
    text-align: left;
    line-height: 1;
}

.hero_right {
    display: flex;
    align-items: end;
    justify-content: end;
}

.hero_right h1 {
    font-family: var(--font_medium);
    font-size: 9em;
    color: var(--clr_black);
    text-align: right;
    line-height: 0.8;
}

.below_main_container {
    border-block: var(--container_border);

    & video {
        border-radius: var(--primary_border_radius);
    }
}

.intro_container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 3em;
}

.intro_left h1 {
    font-family: var(--font_medium);
    font-size: 3.5em;
    color: var(--clr_black);
    line-height: 1;
}

.intro_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.intro_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: var(--primary_border_radius);
    aspect-ratio: 16 / 9;
}

.intro_right p {
    font-family: var(--font_regular);
    font-size: 0.95em;
    color: var(--clr_black);
}

.project_small_title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    padding-top: var(--main_padding_block);
    margin-top: 5em;
}

.project_small_title svg {
    height: 0.7em;
}

.project_small_title p {
    font-family: var(--font_regular);
    font-size: 0.9em;
    color: var(--clr_black);
    text-transform: uppercase;
}

.project_wrapper {
    position: relative;
    padding-block: var(--main_padding_block);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    padding: 1em;
    border-bottom: var(--container_border);

    &::after {
        position: absolute;
        content: "";
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: left;
        background-color: var(--clr_white);
        font-size: var(--fs_project_h1);
        font-family: var(--font_medium);
        color: var(--clr_white);
        pointer-events: none;
        mix-blend-mode: difference;
        height: 0;

        transition-property: height;
        transition-duration: var(--hover_transition_time);
    }
}

@media (width > 1000px) {
    .projects:hover::after {
        height: 100%;
    }
}

.projects h1 {
    font-family: var(--font_medium);
    font-size: 2.8em;
    color: var(--clr_black);
}

.project_info h6 {
    font-family: var(--font_regular);
    font-size: 0.9em;
    font-weight: 400;
    color: var(--clr_black);
    text-align: right;
    text-transform: uppercase;
}

.project_info p {
    font-family: var(--font_regular);
    font-size: 0.9em;
    font-weight: 400;
    color: var(--clr_black);
    text-align: right;
}

.project_visual {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    width: 15em;
    aspect-ratio: 1 / 1.2;
    border-radius: var(--primary_border_radius);
    right: 20%;
    opacity: 0;
    scale: 0.9;

    transition-property: opacity, scale;
    transition-duration: var(--hover_transition_time);
}

.project_visual_open {
    opacity: 1;
    scale: 1;
}

.project_visual img,
.project_visual video {
    object-fit: cover;
}

.all_projects_button {
    width: fit-content;
    margin-top: 2em;
}

/* Media Queries */
@media (width < 1000px) {
    .hero_right h1 {
        font-size: 7em;
    }

    .hero_left h3 {
        font-size: 1.2em;
    }

    .intro_left h1 {
        font-size: 2.5em;
    }

    .project_visual {
        position: static;
        pointer-events: all;
        z-index: 2;
        border-radius: var(--primary_border_radius);
        opacity: 1;
        scale: 1;
        width: 100%;
    }

    .project_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .projects {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 0.5em;
        border: none;
        padding: 0;
        margin-bottom: 1em;
    }

    .projects h1 {
        font-size: 1.8em;
    }

    .projects h6 {
        text-align: left;
    }
}

@media (width < 750px) {
    .hero_section,
    .intro_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, fit-content);
    }

    .hero_left {
        grid-row: 2 / 3;
    }

    .hero_right h1 {
        font-size: 6em;
    }

    .intro_left h1 {
        font-size: 2em;
    }

    .intro_right {
        width: 60%;
    }

    .projects h1 {
        font-size: 1.5em;
    }
}

@media (width < 600px) {
    .project_wrapper {
        grid-template-columns: 1fr;
    }

    .project_visual {
        aspect-ratio: 16 / 9;
    }

    .all_projects_button {
        width: 100%;
    }
}

@media (width < 500px) {
    .hero_section {
        padding-top: 5em;
    }

    .hero_right h1 {
        font-size: 3.6em;
    }

    .hero_left h3 {
        font-size: 1.1em;
    }

    .intro_left h1 {
        font-size: 1.5em;
    }

    .intro_container,
    .intro_right {
        gap: 1em;
    }

    .intro_right {
        width: 100%;
    }
}
