/* Lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    background-color: var(--clr_white) !important;
}

@font-face {
    font-family: font_medium;
    src: url(Fonts/Neue_Haas_Display_Medium.ttf);
}
@font-face {
    font-family: font_regular;
    src: url(Fonts/Neue_Haas_Display_Roman.ttf);
}

:root {
    /* Colors */
    --clr_primary_1: #f83710;
    --clr_white: #ebe6df;
    --clr_gray: #c1bcb6;
    --clr_black: #0b0500;

    /* Fonts */
    --font_medium: font_medium, Arial, Helvetica, sans-serif;
    --font_regular: font_regular, Arial, Helvetica, sans-serif;

    /* Others */
    --max_width: min(111em, 100%);
    --main_width: 95%;
    --main_padding_block: 2em;

    --hover_transition_time: 300ms;

    --primary_button_border: solid 0.1em var(--clr_gray);
    --primary_button_font_size: 1em;
    --primary_button_padding: 0.5em 1em;
    --primary_button_border_radius: 10em;
}

.max {
    width: var(--max_width);
    margin: auto;
    position: relative;
}
.main {
    width: var(--main_width);
    margin: auto;
    position: relative;
    padding-block: var(--main_padding_block);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left svg {
    height: 4em;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.primary_button {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    font-family: var(--font_regular);
    font-size: var(--primary_button_font_size);
    color: var(--clr_black);
    border: var(--primary_button_border);
    padding: var(--primary_button_padding);
    border-radius: var(--primary_button_border_radius);

    transition-property: border-color;
    transition-duration: var(--hover_transition_time);

    &::after {
        position: absolute;
        content: attr(name);
        inset: 105% 40% -105% 40%;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background-color: var(--clr_black) !important;
        color: var(--clr_white);
        font-family: inherit;
        font-size: inherit;

        transition-property: inset, border-radius;
        transition-duration: var(--hover_transition_time);
    }
}

@media (width > 1000px) {
    .primary_button:hover {
        border-color: transparent;
        transition-delay: var(--hover_transition_time);
    }
    .primary_button:hover::after {
        inset: 0;
        border-radius: inherit;
    }
}

.hamburger_button {
    display: none;
}

.hamburger_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    margin-right: 0.5em;
}

.hamburger_line {
    width: 1.2em;
    height: 0.1em;
    background-color: var(--clr_gray) !important;
    
    transition-property: translate, rotate, background-color;
    transition-duration: var(--hover_transition_time);
}

.line_1_clicked {
    translate: 0 0.15em;
    rotate: -45deg;
    background-color: var(--clr_black) !important;
}
.line_2_clicked {
    translate: 0 -0.15em;
    rotate: 45deg;
    background-color: var(--clr_black) !important;
}

/* Media Queries */
@media (width < 1000px) {
    .primary_button::after {
        display: none;
    }
}

@media (width < 750px) {
    .nav_left svg {
        height: 3.3em;
    }

    .nav_right a {
        display: none;
    }

    .hamburger_button {
        display: flex;
    }
}
