/* Lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;

    background-color: var(--clr_white) !important;
}

img,
video {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: font_medium;
    src: url(Fonts/Neue_Haas_Display_Medium.ttf);
}
@font-face {
    font-family: font_regular;
    src: url(Fonts/Neue_Haas_Display_Roman.ttf);
}

:root {
    /* Colors */
    --clr_primary_1: #f73f11;
    --clr_white: #f1eee8;
    --clr_gray: #c0bdbb;
    --clr_black: #101010;

    /* Fonts */
    --font_medium: font_medium, Arial, Helvetica, sans-serif;
    --font_regular: font_regular, Arial, Helvetica, sans-serif;

    /* Others */
    --max_width: min(111em, 100%);
    --main_width: 93%;
    --main_padding_block: 2em;
    --container_border: solid 0.01em var(--clr_gray);

    --hover_transition_time: 300ms;

    --primary_border_radius: 1em;

    --primary_button_border: solid 0.01em var(--clr_gray);
    --primary_button_font_size: 1em;
    --primary_button_padding: 0.6em 1.3em;
    --primary_button_border_radius: 10em;
}

.max {
    width: var(--max_width);
    margin: auto;
    position: relative;
}
.main {
    width: var(--main_width);
    margin: auto;
    position: relative;
    padding-block: var(--main_padding_block);
}

.no_scroll {
    overflow: hidden;
}

:is(a, button):focus-visible {
    outline: solid 0.15em var(--clr_primary_1);
    outline-offset: 0.1em;
    border: none;
}

.small_title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    margin-top: 3em;
}

.small_title svg {
    height: 0.7em;
}

.small_title p {
    font-family: var(--font_regular);
    font-size: 0.9em;
    color: var(--clr_black);
    text-transform: uppercase;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left svg {
    height: 4em;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.primary_button {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    background-color: var(--clr_white) !important;
    font-family: var(--font_regular);
    font-size: var(--primary_button_font_size);
    color: var(--clr_black);
    border: var(--primary_button_border);
    padding: var(--primary_button_padding);
    border-radius: var(--primary_button_border_radius);

    transition-property: border-color;
    transition-duration: var(--hover_transition_time);

    &::after {
        position: absolute;
        content: attr(name);
        inset: 105% 40% -105% 40%;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background-color: var(--clr_primary_1) !important;
        color: var(--clr_white);
        font-family: inherit;
        font-size: inherit;

        transition-property: inset, border-radius;
        transition-duration: var(--hover_transition_time);
    }
}

@media (width > 1000px) {
    :is(.primary_button:hover, .primary_button:focus-visible) {
        border-color: transparent;
        transition-delay: 200ms;

        &::after {
            inset: 0;
            border-radius: inherit;
        }
    }
}

.hamburger_button {
    display: none;
    z-index: 9;
}

.hamburger_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    margin-right: 0.5em;
}

.hamburger_line {
    width: 1.2em;
    height: 0.1em;
    background-color: var(--clr_gray) !important;

    transition-property: translate, rotate, background-color;
    transition-duration: var(--hover_transition_time);
}

.line_1_clicked {
    translate: 0 0.15em;
    rotate: -45deg;
    background-color: var(--clr_black) !important;
}
.line_2_clicked {
    translate: 0 -0.15em;
    rotate: 45deg;
    background-color: var(--clr_black) !important;
}

.menu_section {
    position: fixed;
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--clr_white) !important;
    overflow: hidden;
    inset: 0 0 110% 0;

    transition-property: inset;
    transition-duration: 800ms;
}

.menu_open {
    inset: 0;
}

.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--clr_white) !important;
    padding: 2em;

    & a {
        font-family: var(--font_medium);
        font-size: 5em;
        color: var(--clr_black);
        line-height: 1;
    }
}

footer {
    background-color: var(--clr_black) !important;
    margin-top: 3em;
}

.footer_container {
    padding-top: 5em;
}

.footer_top {
    background-color: var(--clr_black) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4em;
}

.footer_top_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5em;

    & a {
        font-family: var(--font_medium);
        font-size: 2em;
        color: var(--clr_white);
    }
}

.footer_top_right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;

    & h6 {
        font-family: var(--font_regular);
        font-size: 1em;
        font-weight: 400;
        color: var(--clr_white);
    }

    & input {
        background-color: var(--hover_transition_time) !important;
        border: none;
        outline: none;
        border-bottom: var(--container_border);
        padding-block: 0.5em;
        font-family: var(--font_regular);
        font-weight: 400;
        font-size: 1em;
        color: var(--clr_white);
        width: 100%;
    }
}

.footer_main {
    padding-top: 3em;

    & svg {
        fill: var(--clr_white);
    }
}

.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--main_padding_block);
    border-top: var(--container_border);
    gap: 2em;
    flex-wrap: wrap;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font_regular);
        font-size: 1em;
        color: var(--clr_white);

        & svg {
            fill: var(--clr_white);
            height: 1.2em;
            margin-right: 0.2em;
        }
    }
}

/* Media Queries */
@media (width < 1000px) {
    .primary_button::after {
        display: none;
    }
}

@media (width < 750px) {
    .nav_left svg {
        height: 3.3em;
    }

    .nav_right a {
        display: none;
    }

    .hamburger_button {
        display: flex;
    }

    .menu_section {
        display: flex;
    }
}

@media (width < 500px) {
    .footer_top_left a {
        font-size: 1.7em;
    }

    .menu_container a {
        font-size: 3.5em;
    }
}
